<nz-card [nzActions]="(['delete', 'user'] | canIt | async) && [actionSetting, actionEdit] || [actionSetting]">
  <nz-card-meta
    [nzTitle]="user.name"
    [nzDescription]="user.email"
    [nzAvatar]="avatarTemplate"
  ></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar [nzSrc]="'https://i.pravatar.cc/150?u=' + user.email"></nz-avatar>
</ng-template>
<ng-template #actionSetting>
  <a nz-button nzType="text" [routerLink]="[user.id]">
    <span nz-icon nzType="setting"></span>
  </a>
</ng-template>
<ng-template #actionEdit>
  <a *canIt="['delete', 'user']" nz-button nzType="link" nzDanger>
    <span nz-icon nzType="delete"></span>
  </a>
</ng-template>
