:host {
  display: flex;
  justify-content: center;

  .form-wrapper {
    min-width: 400px;
    max-width: 600px;

    .title {
      text-align: center;
    }

    nz-select {
      width: 100%;
    }
  }
}
